/Données physiques_1.mpd
/biblio/
/biblio-uml-sql.mdl
/biblio-uml-sql.md~
/biblio_modele_rose.ddl
/database/
/drop.bat
/drop_biblio.sql
/fd_biblio_XL.jpg
/fd_paris.jpeg
/go.bat
/go.log
/go.sql
/install_biblio.sql
/install_biblio_data.sql
/install_biblio_data_sans_sequence.sql
/jdbc.properties
